<template>

  <div class="c-sign-up d-flex flex-column align-items-center">

   <h1>Sign In</h1>
    <form class="d-flex flex-column">
      <form @submit="trySubmit">
        <div>
          <input type="email" v-model="form.email" placeholder="email"/>
        </div>

        <div>
          <input type="password" v-model="form.password" placeholder="password"/>
        </div>
        <ul v-if="errors.length">
          <li class="text-danger" v-for="error in errors" :key="error">
            toto
          </li>
        </ul>
        <pre>
          {{ form }}
        </pre>
        <input class="btn btn-success" type="submit" value="Sign In">
      </form>
    </form>
   

   <button class="btn btn-success" @click="getData"> Get job offers</button>
   <div class="mt-5" v-for="post in posts" :key="post._id">
      <h3>{{post.title}}</h3>
      <p>Location : {{post.location}}</p>
      <p>Description : {{post.description}}</p>
   </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
   name: 'SignUp',
   data(){
      return {
         form: {
            password: '',
            email: '',
         },
         errors: []
      }
   },

   methods: {
    trySubmit(e) {
      e.preventDefault()
      console.log('toto');
      this.$store.dispatch('user/trySignIn', this.form)
      this.resetForm()
    },
    resetForm() {
      this.form = {
        password: '',
        email: ''
      }
    },
    formIsValid() {
      this.errors = []
    },

    getData() {
      this.$store.dispatch('post/tryGetPosts')
    }
  },

  computed: {
    ...mapState('post', {
      posts: 'datas'
    })

  }
}
</script>

<style lang="scss" scoped>

h2 {
  margin: 50px;
  width: 70%;
  text-align: center;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

input{
   margin: 5px 10px;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #218838;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 500px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #218838;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after,
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}



</style>